@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5); /* Gray with 50% opacity */
  z-index: 50;
}
/* 
.game-stats{
  text-align: left;
  font-size: 15px;
  display: contents;
} */
.game-stats {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 12px;
  max-width: 165px;
}

.game-stats p {
  margin: 0;
}

.game-stats-title {
  font-weight: bold;
  text-align: right;
}

.game-stats-content {
  text-align: left;
  padding-left: 10px;
  color: red;
}

.game-date-title {
  font-size: 12px;
  display: flex;
  text-align: left;
  text-decoration: underline;
}

.off-title {
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-style: italic;
  color: grey;
}

.live-text {
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: red;
  font-style: italic;
}
